html, body {
  @extend .montserrat;
  background-color: #ffffff;
  color: #121920;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  @extend .bebas;
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
}

.se__default {
  &--header, &--footer {
    flex: none;
  }

  &--main {
    flex: 1;

    &.flexed {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &--header {
    min-height: 108px;
  }

  &--footer {
    background-color: #192632;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0;

      li {
        display: inline-block;
      }

      &.social {
        margin-bottom: 20px;

        li a {
          display: block;
          margin: 0 22px;
          transition: .15s ease-in-out;

          &:hover {opacity: 0.5;}

          svg {
            display: block;
            width: 50px;height: 50px;
          }
        }
      }

      &.pages {
        margin-bottom: 20px;

        li a {
          display: block;
          font-size: 16px;
          color: #ffffff;
          border-left: 1px solid #445059;
          padding: 5px 15px;
          transition: .15s ease-in-out;

          &:hover {
            color: #36c1ba;
          }
        }
        li:first-child a {border-left: none;}
      }
    }

    .copyrights {
      padding-bottom: 50px;
    }

    .contacts {
      background-color: #121920;
      padding: 10px 0;

      &--wraper {
        display: flex;
        align-items: center;
      }

      &__items {
        font-size: 0;
        flex: 1;

        a {
          display: inline-flex;
          min-width: 250px;
          white-space: nowrap;
          text-align: left;
          margin: 0 15px;
          padding: 10px 0;
          color: #ffffff;
          transition: .15s ease-in-out;

          &:hover {color: #36c1ba;}

          svg {
            display: block;
            width: 40px;height: 40px;
            margin-right: 15px;
          }

          span {
            display: block;
            font-size: 13px;
          }

          strong {
            font-weight: 400;
            font-size: 18px;
            display: block;
          }
        }
      }

      .language {
        display: none;

        .dropdown {
          position: relative;
          font-size: 13px;

          button {
            position: relative;
            padding: 10px 30px 10px 15px;
            white-space: nowrap;
            padding-right: 30px;
            padding-left: 15px;
            border-radius: 6px;
            background-color: #1e252b;
            border: none;
            color: #ffffff;
            font-size: 13px;
            line-height: 20px;
            min-width: 195px;


            .text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: left;
              display: block;

              img, span {
                display: inline-block;
                line-height: 1;
                vertical-align: middle;
              }

              img {width: 20px;margin-right: 10px;}
            }

            .caret {
              display: block;
              flex:none;
              width: 7px;
              height: 4px;
              position: absolute;
              right: 15px;
              top: 50%;
              margin-top: -2px;
              fill: #ffffff
            }
          }

          &--menu {
            bottom: 100%;
            left: 0;right: 0;
            position: absolute;
            transform-origin: bottom center;
            transform: scale(0);
            opacity: 0;
            transition: .15s ease-in-out;
            margin-bottom: 4px;
            font-size: 13px;
            line-height: 20px;
            background-color: #36c1ba;
            border-radius: 6px;
            overflow: hidden;
            padding: 5px 0;
            box-shadow: 0 3px 20px rgba(18,25,32,0.15);

            ul {
              text-align: left;
              font-size: 13px;
              line-height: 20px;

              li {
                display: block;
                border-bottom: 1px rgba(#ffffff, .3);

                a {
                  display: block;
                  padding: 5px 15px;
                  color: #ffffff;
                  &:hover {
                    background-color: rgba(#ffffff, .3);
                  }
                  img, span {
                    display: inline-block;
                    line-height: 1;
                    vertical-align: middle;
                  }
    
                  img {width: 20px;margin-right: 10px;}
                }

                &.active a {
                  font-weight: 600;
                  color: #121920;
                  background-color: rgba(#ffffff, .3);
                }
              
              }
            }

          }

          &.open .dropdown--menu {
            opacity: 1;
            transform: scale(1);
          }
        }
      
      }

      &.multilanguage {
        .language {display: block;}
        .contacts__items {
          text-align: left;
          a {
            margin: 0 30px 0 0;
          }
        }
        .contacts__items a {margin: 0;}
      }

      @include smallDown {
        &.multilanguage .contacts__items {
          text-align: center;
        }
        .contacts--wraper {
          flex-wrap: wrap;
        }
        .language {
          width: 100%;
          padding: 10px 0;

          .dropdown button {
            width: 100%;
          }
        }
      }
    }
  }
}

.se__pagination {
  ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      color: #878a8d;
      margin-right: 20px;

      &:last-child {margin-right: 0;}
      &.inactive {color: #e7e8e8;}
      &.active {color: #121920;}

      a, span {
        display: block;
        line-height: 18px;
        font-size: 16px;
        text-align: center;
      }

      svg {
        display: block;
        width: 18px;
        height: 18px;
        fill:currentColor;
      }

      a {
        color: #878a8d;

        &:hover {
          color: #36c1ba;
        }
      }

    }
  }
}

.section__intro {
  text-align: center;

  h2 {
    color: #121920;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;

    .decor {
      display: block;
      width: 35px;
      height: 9px;
      margin: 10px auto 0;
      fill: currentColor;
    }

    @include smallDown {
      font-size: 30px;
    }
  }

  p {
    color: #41474d;
    margin-bottom: 30px;
  }
}

.alert {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  width: 660px;
  max-width: 90%;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 6px;
  z-index: 30;

  &--body {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: block;
    flex: none;
    fill: rgba(#ffffff, .3);
    width: 22px;
    height: 22px;
  }

  &__text {
    flex: 1;
    padding: 0 15px;
  }

  &__btn {
    white-space: nowrap;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    background-color: #78bc61;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &:hover {
      background-color: #7fcdc7;
    }
  }

  @include smallDown {
    padding: 10px 15px;

    &--body {
      display: block;
    }

    &__text {
      padding: 0;
      margin-bottom: 10px;
    }

    &__icon {
      display: block;
      margin: 0 auto;
    }
  }
}

a {
  cursor: pointer;
  color: #36c1ba;
  text-decoration: none;

  svg {
    fill: currentColor
  }

  &:hover {
    color: #7fcdc7;
  }
}

.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  transition: .15s ease-in-out;
  text-align: center;

  &.default {
    background-color: #78bc61;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 11px 15px;
    border-radius: 6px;

    &:hover {
      background-color: lighten(#78bc61, 10%);
      color: #ffffff;
    }
  }

  &.facebook, &.google {
    display: inline-block;
    line-height: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #3b5998;
    border-radius: 6px;
    min-width: 140px;

    svg, span {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }

    svg {
      width: 16px;height: 16px;
      margin-right: 8px;
    }
  }

  &.facebook {
    background-color: #3b5998;
    &:hover {
      background-color: #4668b3;
    }
  }
  &.google {
    background-color: #d64b4b;
    &:hover {
      background-color: #f05454;
    }
  }
}

.se__hero {
  padding: 100px 0;
  @include smallDown {padding: 50px 0;}

  img {
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;
  }

  .total {
    margin-bottom: 20px;
    strong {
      display: block;
      font-size: 18px;
    }
  }

  .btn.default {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .form--footer {
    padding-top: 15px;
    align-items: flex-end;
  }
}

.se__what {
  padding: 100px 0 70px;
  background-color: #36c1ba;
  @include smallDown {padding: 50px 0 20px;}

  .section__intro {
    h2, p {color: #ffffff;}
  }

  .modal--video {
    display: block;
    position: relative;
    border: none;
    background-color: #121920;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
      position: relative;
      z-index: 1;
      transition: .15s ease-in-out;
    }

    &:hover img {
      opacity: 0.5;
    }

    .overlay {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      white-space: nowrap;
      color: #ffffff;
      font-weight: 600;
      font-size: 18px;

      svg {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto 10px;
      }
    }
  }
}

.se__why {
  padding: 100px 0;
  text-align: center;
  @include smallDown {padding: 50px 0;}

  .why--item {
    .img {
      position: relative;
      margin-bottom: 40px;

      img {
        display: block;
        width: 100%;
        border-radius: 100%;
        position: relative;
        z-index: 1;
      }

      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: .15s ease-in-out;
        z-index: 2;
      }

      &:hover svg {
        transform: translate(-50%, -50%) scale(.75);
      }
    }

    .text {
      h3 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 15px;
      }
      p {
        margin: 0 0 40px;
        font-size: 13px;
        line-height: 20px;
        color: #41474d;
      }
    }
  }

  .btn.default {
    min-width: 250px;
    font-size: 18px;
    line-height: 30px;
    padding: 15px;
  }
}

.se__testimonial {
  padding: 100px 0 70px;
  text-align: center;
  background-color: #f0f6f4;
  @include smallDown {padding: 50px 0 20px;}

  .testimonial--item {
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    background-color: #121920;
  
    img {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      transition: .15s ease-in-out;
    }

    .descrtiption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: -moz-linear-gradient(top, rgba(18,25,32,0.15) 0%, rgba(18,25,32,0.5) 100%);
      background: -webkit-linear-gradient(top, rgba(18,25,32,0.15) 0%,rgba(18,25,32,0.5) 100%);
      background: linear-gradient(to bottom, rgba(18,25,32,0.15) 0%,rgba(18,25,32,0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26121920', endColorstr='#80121920',GradientType=0 );
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      color: #ffffff;
      padding: 15px;
      text-align: left;

      span {
        display: block;
        font-size: 13px;
      }

      strong {
        font-size: 14px;
        display: block;
      }
    }

    &:hover img {
      opacity: 0.5;
    }

    .video {
      position: absolute;
      display: block;
      z-index: 3;
      right: 15px;top: 15px;
      width: 30px;height: 30px;
    }
  }
}

.testimonial--popup {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;

  .mfp-close {
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 1;
  }

  &__image {
    flex: none;
    padding-right: 30px;

    img {
      display: block;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  &__text {
    h3 {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 20px;

      span {opacity: 0.5;}
    }
    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
  @include smallDown {
    display: block;
    &__image {
      padding-right: 0;
      img {
        margin: 0 auto 20px;
      }
    }
  }
}

.se__ingredients {
  padding: 100px 0;
  @include smallDown {padding: 50px 0;}

  .container {
    padding: 0 20px;
  }

  .ingredients {
    margin: 0 -20px;
    display: flex;
    padding-top: 15px;

    &--item {
      flex: none;
      width: 20%;
      padding: 0 20px;

      .img img {
        display: block;
        width: 100%;
        border-radius: 100%;
        margin-bottom: 15px;
      }

      .text {
        text-align: center;
        h3 {
          text-transform: uppercase;
          font-size: 24px;
          line-height: 1;
          margin-bottom: 15px;
        }
        p {
          margin: 0 0 40px;
          font-size: 13px;
          line-height: 20px;
          color: #41474d;
        }
      }
    }

    @include tabletDown {
      flex-wrap: wrap;
      justify-content: center;

      &--item {
        width: 33.333333333%;
      }
    }

    @include smallDown {
      &--item {width: 100%;}
    }
  }
}

.se__facts {
  padding: 100px 0;
  background-color: #f0f6f4;
  @include smallDown {padding: 50px 0;}

  .facts--img {
    display: block;
    max-width: 100%;
    margin: 30px auto;
  }

  .facts--item {
    display: flex;
    align-items: center;
    padding: 15px 0;

    .icon {
      display: block;
      flex: none;
      width: 60px;
      height: 60px;
    }

    .text {
      flex: 1;

      span, strong {
        display: block;
      }
    }
  }

  .col:first-child .facts--item {
    &:nth-child(2) .icon {
      margin-right: 30px;
    }
    .icon {
      order: 2;
      margin-left: 15px;
    }
    .text {
      order: 1;
      text-align: right;
    }
  }

  .col:last-child .facts--item {
    &:nth-child(2) .icon {
      margin-left: 30px;
    }
    .icon {
      margin-right: 15px;
    }
  }

  .facts--footer {
    padding-top: 30px;
    text-align: center;

    .pdf {
      color: #78bc61;
      text-decoration: underline;
      margin-bottom: 30px;
      display: inline-block;
      transition: .15s ease-in-out;

      &:hover {
        color: #121920
      }
    }
    .btn.default {
      min-width: 200px;
      font-size: 18px;
      line-height: 30px;
      padding: 15px;
    }
  }

  @include tabletDown {
    .col {
      order:2;

      &:nth-child(2) {
        order: 1;
      }
    
    }
    .col:first-child .facts--item {
      .icon {order: 1;margin-right: 15px;margin-left: 0;}
      .text {order: 2;text-align: left;}
    }
    .col:first-child .facts--item:nth-child(2), .col:last-child .facts--item:nth-child(2) {
      .icon {margin-left: 0;}
    }
  }
}

.se__chart {
  padding: 100px 0;
  text-align: center;
  @include smallDown {padding: 50px 0;}

  img {
    display: block;
    width: 100%;
  }
}

.se__table {
  padding: 100px 0;
  background-color: #f0f6f4;
  @include smallDown {padding: 50px 0;}

  &--footer {
    text-align: center;
    .btn.default {
      min-width: 200px;
      font-size: 18px;
      line-height: 30px;
      padding: 15px;
    }
  }

  .nav--tabs {
    margin: 0;
    padding:30px 0 0;
    list-style: none;
    display: flex;

    li {
      display: block;
      text-align: center;
      flex: 1;
      position: relative;
      padding-bottom: 40px;

      &:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -7px;
        opacity: 0;
        transition: .15s ease-in-out;
      }

      &.active:after {
        opacity: 1;
      }

      a {
        @extend .bebas;
        display: inline-block;
        text-transform: uppercase;
        color: #121920;
        border-bottom: 2px solid currentColor;
        font-size: 24px;
        line-height: 1;
        transition: .15s ease-in-out;
      }

      &.active a, a:hover {
        color: #36c1ba;
      }

    }
  }

  .tab--content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
  }

  .tab--pane {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .15s ease-in-out;

    &.active {
      opacity: 1;
      height: auto;
    }

    .preview {
      img {
        display: block;
        position: relative;
        z-index: 1;
        width: 120px;
        margin: 0 auto;
      }
      .overlay {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
      }
    }

    .preview--table {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      tr {
        border-bottom: 1px solid #e7e8e8;
      }
      thead {
        font-weight: 600;
      }
      th {
        font-weight: 600;
        color: #36c1ba;
      }

      th, td {
        padding: 7px 10px;
      }
    }
  }
  @include smallDown {
    .tab--content {
      padding: 15px;
    }
    .tab--pane .preview--table {
      font-size: 12px;
      line-height: 16px;
    }
    .tab--pane .preview .overlay {
      text-align: center;
      width: 100%;
      left: 0;
      transform: translate(0, -50%);
    }
    .nav--tabs li {padding-bottom: 20px;}
    .nav--tabs li a {font-size: 18px;}
  }

}

.se__join {
  padding: 100px 0 70px;
  @include smallDown {padding: 50px 0 20px;}

  &--form {
    .col {
      position: relative;
    }
    span.error {
      user-select: none;
      color: #d64b4b;
      line-height: 20px;
      font-size: 14px;
      opacity: 0;
      position: absolute;
      bottom: 10px;
      left: 15px;
      transition: .15s ease-in-out;
    }
    input {
      border-radius: 6px;
      height: 60px;
      border: 2px solid #e5e4d7;
      width: 100%;
      padding: 0 15px;
      font-size: 24px;
      color: #121920;
      transition: .15s ease-in-out;
      margin-bottom: 30px;

      &::-webkit-input-placeholder {color: #888c8f;opacity: 1;}
      &::-moz-placeholder {color: #888c8f;opacity: 1;}
      &:-ms-input-placeholder {color: #888c8f;opacity: 1;}
      &:-moz-placeholder {color: #888c8f;opacity: 1;}

      &:focus {
        &::-webkit-input-placeholder {color: transparent;}
        &::-moz-placeholder {color: transparent;}
        &:-ms-input-placeholder {color: transparent;}
        &:-moz-placeholder {color: transparent;}
      }

      &.error {
        border-color: #d64b4b;

        + span.error {
          opacity: 1;
        }
      }
    }
    .btn.default {
      width: 100%;
      font-size: 24px;
      line-height: 30px;
      padding: 15px;
      margin-bottom: 30px;
    }
  }
}

.se__blog {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}
  h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 44px;
  }
  &--list {
    border-top: 1px solid #d2e9e8;
    margin-bottom: 60px;
  }

  &--recent {
    @include tabletDown {
      padding-top: 60px;
    }
    .module--title {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 60px;
    }
    ul {
      border-top: 1px solid #d2e9e8;
      list-style: none;
      margin: 0;
      padding: 30px 0 15px;

      li {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;

        a {
          color: #878a8d;

          &:hover {
            color: #36c1ba;
          }
        }
      }
    }
  }

  &--item {
    border-bottom: 1px solid #d2e9e8;
    padding: 30px 0;
    display: flex;
    align-items: flex-start;

    .thumbnail {
      position: relative;
      display: block;
      flex: none;
      margin-right: 30px;
      border-radius: 5px;
      overflow: hidden;
      background-color: #121920;

      .video {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
      }

      img {
        display: block;
        max-width: 100%;
        position: relative;
        z-index: 1;
        transition: .15s ease-in-out;
      }

      &:hover img {
        opacity: 0.5;
      }
    }

    .info {
      width: 100%;

      &--header {
        font-size: 0;
        line-height: 20px;
        margin-bottom: 30px;

        svg {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          margin-right: 4px;
          fill: currentColor;
        }
        &__date, &__tags {
          display: inline-block;
          vertical-align: middle;
          color: #878a8d;
          font-size: 16px;
          margin-right: 16px;

          span, a {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
          }
        }
      }

      &--text {
        h3 {
          @extend .montserrat;
          font-size: 18px;
          line-height: 1;
          font-weight: 600;
          margin-bottom: 15px;

          a {
            color: #121920;
            &:hover {
              color: #36c1ba;
            }
          }
        }

        p {
          font-size: 16px;
          line-height: 24px;
          color: #878a8d;
        }
      }
    }

    @include smallDown {
      display: block;

      .thumbnail {
        margin: 0;
        width: 100%;
        margin-bottom: 15px;

        img {
          display: block;
          width: 100%;
        }
      }

      .info--header__date, .info--header__tags {
        display: block;
        line-height: 24px;
      }
    }
  }

  &--back {
    margin-bottom: 30px;
    span, svg {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    svg {
      width: 18px;height: 18px;
      fill: currentColor;
      margin-right: 10px;
    }
  }
  &--post {
    .modal--video {
      display: block;
      position: relative;
      border: none;
      background-color: #121920;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 30px;
      cursor: pointer;
  
      img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
        transition: .15s ease-in-out;
      }
  
      &:hover img {
        opacity: 0.5;
      }
  
      .overlay {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        white-space: nowrap;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
  
        svg {
          display: block;
          width: 80px;
          height: 80px;
          margin: 0 auto 10px;
        }
      }
    }

    .post--header {
      h1 {
        @extend .montserrat;
        font-size: 40px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .info {
        width: 100%;
        font-size: 0;
        line-height: 20px;
        margin-bottom: 30px;
  
          svg {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-right: 4px;
            fill: currentColor;
          }
          &__date, &__tags {
            display: inline-block;
            vertical-align: middle;
            color: #878a8d;
            font-size: 16px;
            margin-right: 16px;
  
            span, a {
              display: inline-block;
              vertical-align: middle;
              line-height: 1;
            }
          }
        
      }
    }

    .post--content {
      color: #41474d;
      line-height: 30px;
      font-size: 16px;

      p {
        margin-bottom: 30px;
      }

      ul {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}

.se__legal {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}

  p {
    font-size: 16px;
    line-height: 30px;
    color: #41474d;
    margin-bottom: 30px;
  }

  .section__intro {
    margin-bottom: 40px;
  }

  &--nav {
    margin-bottom: 60px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        font-size: 24px;
        line-height: 30px;

        &:after {
          display: inline-block;
          content: "•";
          margin: 0 20px;
        } 

        &:last-child:after {
          display: none;
        }

        a {
          display: inline-block;
          color: #121920;
        }

        &.active a, a:hover {
          color: #36c1ba;
        }

        @include smallDown {
          display: block;
          font-size: 18px;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.se__contact {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}

  .section__intro {
    margin-bottom: 40px;
    h2 {font-size: 40px;}
  }

  &--form {
    background-color: #f1f6f4;
    padding: 40px;
    border-radius: 10px;

    .btn.default {
      font-size: 24px;
      line-height: 30px;
      padding: 15px 40px;
    }

    input, textarea {
      display: block;
      width: 100%;
      resize: none;
      background-color: #ffffff;
      border: 2px solid #e4e3d6;
      font-size: 18px;
      line-height: 20px;
      padding: 20px;
      border-radius: 6px;
      transition: .15s ease-in-out;

      + label {
        display: block;
        color: #d64b4b;
        line-height: 20px;
        font-size: 14px;
        overflow: hidden;
        height: 0;opacity: 0;
        transition: .15s ease-in-out;
      }

      &::-webkit-input-placeholder {color: #888c8f;opacity: 1;}
      &::-moz-placeholder {color: #888c8f;opacity: 1;}
      &:-ms-input-placeholder {color: #888c8f;opacity: 1;}
      &:-moz-placeholder {color: #888c8f;opacity: 1;}

      &:focus {
        &::-webkit-input-placeholder {color: transparent;}
        &::-moz-placeholder {color: transparent;}
        &:-ms-input-placeholder {color: transparent;}
        &:-moz-placeholder {color: transparent;}
      }

      &.error {
        border-color: #d64b4b;
  
        + label {
          height: auto;opacity: 1;
        }
      }
    }

    input {
      margin-bottom: 10px;
      + label {
        margin-top: -10px;
        margin-bottom: 10px;
      }
    }

    textarea {
      margin-bottom: 20px;
      + label {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }
  }

  &--info {
    padding: 30px 40px 0;

    h3 {
      font-size: 24px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  @include smallDown {
    &--form, &--info {
      padding: 15px;
      margin: 0;

      input, textarea {font-size: 14px;}
    }

    &--form .btn.default {width: 100%;font-size: 14px;padding: 15px;}
  }
}

.se__faq {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}
  .section__intro {
    margin-bottom: 40px;
    h2 {font-size: 40px;}
  }
}

.se__auth {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}

  .section__intro {
    margin-bottom: 40px;
    h2 {font-size: 40px;}
  }

  .col {
    border-bottom: 1px solid #e7e8e8;
    margin-bottom: 40px;

    &:first-child {
      border-right: 1px solid #e7e8e8;

      @include tabletDown {border-right: 0;}
    }
  }

  &--form {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;

    .btn.default {
      font-size: 18px;
      line-height: 30px;
      padding: 15px 40px;
      width: 100%;
    }

    input {
      display: block;
      width: 100%;
      resize: none;
      background-color: #ffffff;
      border: 2px solid #e4e3d6;
      font-size: 18px;
      line-height: 20px;
      padding: 15px;
      border-radius: 6px;
      transition: .15s ease-in-out;
      margin-bottom: 10px;

      + label {
        display: block;
        color: #d64b4b;
        line-height: 20px;
        font-size: 14px;
        overflow: hidden;
        height: 0;opacity: 0;
        transition: .15s ease-in-out;
      }

      &::-webkit-input-placeholder {color: #888c8f;opacity: 1;}
      &::-moz-placeholder {color: #888c8f;opacity: 1;}
      &:-ms-input-placeholder {color: #888c8f;opacity: 1;}
      &:-moz-placeholder {color: #888c8f;opacity: 1;}

      &:focus {
        &::-webkit-input-placeholder {color: transparent;}
        &::-moz-placeholder {color: transparent;}
        &:-ms-input-placeholder {color: transparent;}
        &:-moz-placeholder {color: transparent;}
      }

      &.error {
        border-color: #d64b4b;
        
  
        + label {
          height: auto;opacity: 1;
          margin-top: -10px;
          margin-bottom: 10px;
        }
      }
    }

    .checkbox {
      padding: 10px 0 14px;
      margin: 0;
      input + label {
        display: flex;
        position: static;
        height: auto;
        opacity: 1;
        color: #121920;

        strong {
          font-weight: 400;
          font-size: 16px;
          padding-left: 20px;
        }
      }
    }

    p {
      text-align: center;
      padding-top: 20px;
    }

  }

  &--social {
    text-align: center;
    font-size: 16px;
    p {
      margin-bottom: 30px;
    }

    .btn {
      margin: 0 5px 30px;
    }
  }
}

.se__404 {
  padding: 60px 0;
  text-align: center;
  @include smallDown {padding: 30px 0;}

  .section__intro {
    margin-bottom: 0;
    h2 {
      font-size: 40px;
      margin-bottom: 20px;

      .decor {
        margin-top: 20px;
      }
    }
  }

  .btn.default {
    margin: 0 0 30px;
    font-size: 16px;
    padding: 20px 50px;
  }

  p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 24px;
    color: #41474d;
  }
}

.se__card {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}

  .section__intro {
    margin-bottom: 20px;
    h2 {font-size: 40px;}
  }

  &--wraper {
    background-color: #f0f6f4;
    border-radius: 6px;
    padding: 40px;
    text-align: center;

    @include smallDown {padding: 40px 20px;}

    h3 {
      @extend .montserrat;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }

    .btn.default {
      padding: 20px 50px;
      @include smallDown {padding: 20px;width: 100%;}
    }

    &.empty {
      padding: 120px 30px;

      p {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }

    &.error {
      .error--message {
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        background-color: #ffffff;
        color: #d64b4b;
        padding: 18px;
        border-radius: 6px;
      }
    }

    &.complete {
      .complete--message {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        background-color: #ffffff;
        border-radius: 6px;
        padding: 30px;
        color: #121920;
        text-align: left;

        span, strong, small {
          display: block;
        }

        span, strong {
          padding: 10px;
        }

        small {
          font-size: 13px;
        }

        strong {
          font-weight: 400;
          width: 45%;
        }

        span {
          width: 55%;
          color: #41474d;
        }

        @include smallDown {
          span, strong {
            width: 100%;
          }
          strong {
            padding: 10px 0 5px;
            font-size: 14px;
          }
          span {
            padding: 5px 0 10px;
          }
        }
      }
    }
  }

  .row.custom--top {
    padding-top: 20px;
  }

  &--items {
    .items__header {
      border-bottom: 1px solid #e7e8e8;
      margin-bottom: 30px;
      padding: 0 0 20px;
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 16px;
      font-weight: 600;

      @include smallDown {display: none;}

      &--product {
        width: 130px;
        flex: none;
      }

      &--price {
        flex: 1;
      }

      &--count {
        width: 100px;
        flex: none;
        margin: 0 20px;
      }

      &--total {
        width: 140px;
        flex: none;
        padding-left: 20px;
      }
    }
    .item {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 6px;
      position: relative;
      padding-left: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      box-shadow: 0 2px 6px rgba(#203751, .2);
      margin-bottom: 30px;

      &__delete {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 6px 0 0 6px;

        width: 30px;
        background-color: #e7e8e8;
        color: #ffffff;
        transition: .15s ease-in-out;

        &:hover {
          background-color: #d64b4b;
        }

        svg {
          width: 20px;height: 20px;
        }
      }

      &__image {
        display: block;
        flex: none;
        width: 60px;
        height: 60px;
        margin: 0 20px;
      }

      &__info {
        flex: 1;

        strong, span {
          display: block;
        }
      }

      &__count {
        width: 100px;
        flex: none;
        margin: 0 20px;
      }

      &__price {
        width: 140px;
        flex: none;
        padding-left: 20px;

        small {
          display: block;
          padding-top: 5px;
          font-size: 13px;
          color: #87898c;
        }
      }

      @include smallDown {
        flex-wrap: wrap;
        &__info {
          flex: none;
          width: calc(100% - 100px);
        }
        &__count, &__price {
          padding: 10px 0 0 20px;
          width: 50%;
          margin: 0;
        }
      }
    }

    [for=card_subscribe] strong {
      padding-left: 10px;
      font-size: 16px;
      font-weight: 600;

      .info {
        color: #78bc61
      }
    }

    .subscribe__info {
      font-size: 13px;
      line-height: 16px;
      color: #41474d;
      margin-bottom: 60px;
    }
  }

  &--total {

    h2 {
      @extend .montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      border-bottom: 1px solid #e7e8e8;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    .total__item {
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      strong, span {
        display: block;
      }

      strong {
        flex: none;
        width: 160px;
      }

      span {
        flex: 1;
        input {
          display: block;
          width: 100%;
          resize: none;
          background-color: #ffffff;
          border: 2px solid #e4e3d6;
          font-size: 18px;
          line-height: 20px;
          padding: 15px;
          border-radius: 6px;
          transition: .15s ease-in-out;

          &::-webkit-input-placeholder {color: #888c8f;opacity: 1;}
          &::-moz-placeholder {color: #888c8f;opacity: 1;}
          &:-ms-input-placeholder {color: #888c8f;opacity: 1;}
          &:-moz-placeholder {color: #888c8f;opacity: 1;}
    
          &:focus {
            &::-webkit-input-placeholder {color: transparent;}
            &::-moz-placeholder {color: transparent;}
            &:-ms-input-placeholder {color: transparent;}
            &:-moz-placeholder {color: transparent;}
          }
        }
      }

      @include smallDown {
        display: block;
        strong, span {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }

  &--payment {
    margin-bottom: 60px;

    a {
      display: inline-block;
      color: #121920;
      transition: .15s ease-in-out;
      margin-right: 10px;

      &:hover {
        color: #36c1ba;
      }

      svg {
        display: block;
        width: 45px;
        height: 36px;
      }
    }
  }

  &--auth {
    background-color: #f0f6f4;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;

    h2 {
      text-align: center;
      @extend .montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 10px;
    }

    .social__auth {
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #cbebe8;

      .btn {
        margin: 0 5px;
        @include smallDown {margin-bottom: 10px;}
      }
    }

    .auth__row {
      display: flex;
      align-items: center;
      margin: 0 -5px 10px;

      @include smallDown {
        display: block;
      }
  
      &--input, &--button {
        margin-bottom: 30px;
      }
  
      &--input {
        flex: 1;
        padding: 0 5px;
        position: relative;
  
        input {
          display: block;
          width: 100%;
          resize: none;
          background-color: #ffffff;
          border: 2px solid #e4e3d6;
          font-size: 16px;
          line-height: 20px;
          padding: 10px 15px;
          border-radius: 6px;
          transition: .15s ease-in-out;
    
          + label {
            display: block;
            color: #d64b4b;
            line-height: 20px;
            font-size: 13px;
            overflow: hidden;
            height: 0;opacity: 0;
            transition: .15s ease-in-out;
            position: absolute;
            left: 5px;
            right: 5px;
            top: 100%;
          }
    
          &::-webkit-input-placeholder {color: #a6a7a8;opacity: 1;}
          &::-moz-placeholder {color: #a6a7a8;opacity: 1;}
          &:-ms-input-placeholder {color: #a6a7a8;opacity: 1;}
          &:-moz-placeholder {color: #a6a7a8;opacity: 1;}
    
          &:focus {
            &::-webkit-input-placeholder {color: transparent;}
            &::-moz-placeholder {color: transparent;}
            &:-ms-input-placeholder {color: transparent;}
            &:-moz-placeholder {color: transparent;}
          }
    
          &.error {
            border: 2px solid #d64b4b;
  
            + label {
              height: auto;opacity: 1;
              margin-top: 5px;
            }
          }
        }
      }
  
      &--button {
        flex: none;
        padding: 0 5px;
  
        .btn.default {
          padding: 10px 15px;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  
    .auth__forgot {
      text-align: center;
      font-size: 13px;
    }
  
  }

  &--checkout {
    h2 {
      @extend .montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 20px;
    }

    hr {
      display: block;
      width: 100%;
      margin: 0 0 20px;
      border: none;
      height: 1px;
      background-color: #e7e8e8;

      &.separator {
        margin-bottom: 30px;
      }
    }

    .btn.default {
      width: 100%;
      font-size: 24px;
      line-height: 30px;
      padding: 25px;
    }

    .checkout__row {
      display: flex;
      align-items: center;
      margin: 0 -5px;

      @include smallDown {
        display: block;
      }

      &--input {
        padding: 0 5px;
        margin-bottom: 20px;
        flex: 1;

        @include smallDown {
          flex: none
        }

        label, input, textarea {
          display: block;
          width: 100%;
          transition: .15s ease-in-out;
        }

        label {
          font-size: 16px;
          line-height: 1;
          margin-bottom: 5px;

          .muted {
            color: #878a8d
          }
        }

        input {
          background-color: #ffffff;
          border: 2px solid #e4e3d6;
          font-size: 16px;
          line-height: 20px;
          padding: 10px 15px;
          border-radius: 6px;
        }

        textarea {
          background-color: #ffffff;
          border: 2px solid #e4e3d6;
          font-size: 16px;
          line-height: 20px;
          padding: 15px;
          border-radius: 6px;
          resize: none;
          height: 120px;
        }

        .nice-select {
          border: 2px solid #e4e3d6;
          transition: .15s ease-in-out;

          .list {
            max-height: 180px;
            overflow-y: auto;

            .disabled {display: none;}
          }
        }

        &.error {
          label {
            color: #d64b4b
          }
          input, .nice-select {
            border-color: #d64b4b;
          }
        }

      }

      .checkbox input+label {
        .input {margin-right: 20px;}
        strong {
          font-weight: 400;
        }
        .text {
          padding-left: 0;
          strong {color: #36c1ba}
        }
      }

    }
  }

}

.se__account {
  padding: 60px 0;
  @include smallDown {padding: 30px 0;}

  .section__intro {
    margin-bottom: 40px;
    h2 {font-size: 40px;}
  }

  &--nav {
    background-color: #f0f6f4;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 60px;

    .nav__header {
      background-color: #36c1ba;
      color: #ffffff;
      padding: 30px 30px 30px 90px;
      position: relative;

      img {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -30px;
      }

      p {
        display: block;
        padding-left: 15px;
        font-size: 16px;
        line-height: 24px;

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .nav__body {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
          margin-bottom: 1px;

          a {
            display: block;
            line-height: 20px;
            font-size: 16px;
            padding: 15px 30px;
            color: #121920;
            transition: .15s ease-in-out;
          }

          &.active a, a:hover {
            background-color: #e5e4d7;
          }
        }
      }
    }
  }

  &--adress {
    background-color: #f0f6f4;
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 30px;
    position: relative;

    .modal--edit {
      position: absolute;
      top: 30px;
      right: 40px;

      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    h3 {
      line-height: 1;
      font-size: 24px;
      margin-bottom: 20px;
      padding-right: 60px;
    }

    h4 {
      @extend .montserrat;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 10px;
    }

    p {
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 10px;

      &:last-child {margin-bottom: 0;}
    }
  }

  &--order {
    background-color: #f0f6f4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;

    .order {
      &__header {
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 30px;
        line-height: 1;
        @include smallDown {padding: 20px;}

        &.processing {
          background-color: #ff9b43;
        }

        &.delivered {
          background-color: #78bc61;
        }

        &.canceled {
          background-color: #e56554;
        }

        &.transit {
          background-color: #36c1ba;
        }

        svg {
          display: block;
          margin: 0 auto 10px;
          fill: currentColor;
          width: 24px;
          height: 24px;
        }
      }

      &__body {
        padding: 30px;
        @include smallDown {padding: 20px;}
      }

      &--title {
        flex: 1;
        strong, span {
          display: block;
        }

        strong {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }

      &--row {
        display: flex;
        align-items: center;
        margin: 0 -5px 20px;
        line-height: 1;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: block;
          width: 50%;
          padding: 0 5px;
          font-size: 13px;
        }

        .btn.default {
          flex: 1;
          margin: 0 5px;
          font-size: 16px;
        }
      }
    }

  }

  &--order__details {
    .panel--detail {
      border-radius: 6px;
      margin-bottom: 10px;
      color: #ffffff;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 20px;

      &:last-child {
        margin-bottom: 40px;
      }

      &.processing {
        background-color: #ff9b43;
      }

      &.delivered {
        background-color: #78bc61;
      }

      &.canceled {
        background-color: #e56554;
      }

      &.transit {
        background-color: #36c1ba;
      }

      .date {
        margin-bottom: 5px;
      }

      svg, span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: currentColor
      }
    }
    .order__main {

      .btn.default {
        padding: 15px 40px;
        font-size: 16px;
        margin-bottom: 40px;
      }
      .order--title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 5px;
      }
      .pdf {
        line-height: 24px;

        span, svg {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
        }

        svg {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }

      &--list {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        span {
          display: block;
          width: 50%;
          line-height: 1;
          padding: 10px 0;
        }

        @include smallDown {
          display: block;

          span {
            width: 100%;
            padding: 0 0 5px;

            &:nth-child(2n) {
              margin-bottom: 20px;
              opacity: 0.75;
            }
          }
        }
      }
    }

    .adress {
      margin-bottom: 40px;
      &--title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .message {
      background-color: #f0f6f4;
      border-radius: 10px;
      padding: 40px;

      @include smallDown {
        padding: 30px 20px;
      }

      &--title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1;
      }

      textarea {
        display: block;
        width: 100%;
        height: 200px;
        padding: 15px;
        resize: none;
        border: 2px solid #e4e3d6;
        font-size: 18px;
        line-height: 20px;
        border-radius: 6px;
        transition: .15s ease-in-out;
        margin-bottom: 30px;

        &::-webkit-input-placeholder {color: #888c8f;opacity: 1;}
        &::-moz-placeholder {color: #888c8f;opacity: 1;}
        &:-ms-input-placeholder {color: #888c8f;opacity: 1;}
        &:-moz-placeholder {color: #888c8f;opacity: 1;}
  
        &:focus {
          &::-webkit-input-placeholder {color: transparent;}
          &::-moz-placeholder {color: transparent;}
          &:-ms-input-placeholder {color: transparent;}
          &:-moz-placeholder {color: transparent;}
        }

        &.error {
          border-color: #d64b4b;
        }
      }

      .btn.default {
        padding: 20px 50px;
      }
    }

    hr {
      display: block;
      width: 100%;
      height: 1px;
      border: none;
      background-color: #e7e8e8;
      margin-bottom: 40px;
    }
  }

  .orders--list {
    margin-bottom: 30px;
  }
  p.order--description {
    font-size: 16px;
    line-height: 30px;
    color: #878a8d;
  }

  .form__information {
    margin-bottom: 40px;

    h2 {
      font-weight: 600;
      @extend .montserrat;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 30px;
    }

    .btn.default {
      width: 100%;
      padding: 20px 30px;
    }
  }

  .form__password {
    margin-bottom: 40px;
    background-color: #f0f6f4;
    padding: 30px;
    border-radius: 10px;

    h3 {
      font-weight: 600;
      @extend .montserrat;
      font-size: 18px;
      line-height: 1;
      margin-bottom: 30px;
    }
    .btn.default {
      font-size: 16px;
      padding: 15px 30px;
    }
  }

  .btn.default.addnew {
    padding: 20px 50px;
  }

}

.adress--popup {
  width: 540px;
  max-width: 90%;
  position: relative;
  background-color: #f0f6f4;
  margin: 40px auto;
  border-radius: 10px;
  padding: 40px;

  @include smallDown {
    padding: 40px 20px;
  }

  .mfp-close {
    color: #36c1ba;
    font-weight: 400;
  }

  p {
    margin: 0;
    text-align: center;
  }

  button.btn.default {
    font-size: 16px;
    padding: 10px;
    width: 180px;
  }
}

.auth--popup {
  width: 360px;
  max-width: 90%;
  position: relative;
  background-color: #f0f6f4;
  margin: 40px auto;
  border-radius: 10px;
  padding: 40px;

  @include smallDown {
    padding: 40px 20px;
  }

  .mfp-close {
    color: #36c1ba;
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    @extend .montserrat;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    text-align: center;
  }

  &#thanks p {
    text-align: left;
  }

  button.btn.default {
    font-size: 16px;
    padding: 10px;
    width: 180px;
  }

  &#forgot button.btn.default {width: 100%;}
}
