.navbar {
  background-color: #f0f6f4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: .15s ease-in-out;
  z-index: 99;

  &--wraper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    transition: .15s ease-in-out;
  }

  &--show {
    display: none;
    margin: 0 0 5px auto;
    width: 40px;height: 40px;
    fill: #78bc61;

    &.active {
      fill: #52a49f;
    }
  }

  &--mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #f0f6f4;
    padding: 40px 15px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    z-index: 999;

    .navbar--close {
      position: absolute;
      top: 18px;
      right: 22px;
      fill: #121920;
      display: block;
      width: 24px;height: 24px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 220px;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 100%;
        flex:none;
        padding: 5px 0;
        border-bottom: 1px solid #e5e4d7;
        
        
        &:nth-child(1), &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(3) {
          text-align: center;
          a {
            display: block;
            line-height: 20px;
            padding: 5px 0;
          }
        }

        &:nth-child(4) {
          border-bottom: none;
          padding-top: 15px;
        }
      }

      .icon--lnk {
        display: flex;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
          vertical-align: middle;
          line-height: 1;
          margin-right: 10px;
        }
      }

      .btn.default {width: 100%;}

    }
  }
  &--left, &--right {
    flex: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-image: none;
      display: flex;
      align-items: center;

      li {
        a {
          color: #121920;
          font-size: 16px;
          transition: .15s ease-in-out;

          &:hover {
            color: #52a49f;
          }
        }

        a.icon--lnk {
          display: flex;
          align-items: center;
          margin-right: 30px;

          svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            line-height: 1;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &--center {
    flex: none;

    a.brand {
      display: block;
      color: #121920;

      &:hover {
        color: #52a49f;
      }

      svg {
        display: block;
        width: 114px;
        height: 68px;
        transition: .15s ease-in-out;
      }
    }
  }

  &--right {
    ul {
      justify-content: flex-end;
    }
  }

  &.sticky {
    box-shadow: 0 1px 3px rgba(#121920, .25);
  }

  &.sticky &--wraper {
    padding: 10px 0;
  }

  &.sticky &--center svg {
    height: 40px;
  }

  @include smallDown {
    &--left ul, &--right ul {display: none;}
    &--show {display: block;}
  }



}