extends models/layout-default
block content
  section.se__contact
    .container
      .section__intro
        h2 Contact us
          svg.decor: use(xlink:href="#decor")
      .row.middle
        .col.md-6
          .se__contact--form
            input(type="text" placeholder="Your name", name="contact__name")
            label.error Name must be 3 characters min
            input(type="email" placeholder="Your e-mail", name="contact__email")
            label.error Please enter valid e-Mail
            input(type="text" placeholder="Subject (optional)", name="contact__subject")
            textarea(cols="30", rows="10", placeholder="Message", name="contact__message")
            label.error This field required
            button.btn.default Send message
        .col.md-6: .se__contact--info
          h3 Simpleat Company
          p Street 12<br>1234 AB, City<br>The Country
          p 
            a(href="") info@simpleat.com
            br
            a(href="") +12(0)34 56 789 00
          p Chamber of Commerce: 12345678<br>VAT: J54346JK3H4K4J45<br>Bank: J54346JK3H4K4J45
          p You can find answers to most questions in our <a>FAQ</a>.<br>For our terms & conditions, return policy and privacy policy<br><a>click here</a>.
