extends models/layout-default
block content
  section.se__legal
    .container
      .se__legal--nav
        ul
          li: a(href="") Company Details
          li.active: a(href="") Disclaimer
          li: a(href="") Privacy Policy
          li: a(href="") Terms & Conditions
          li: a(href="") Return Policy
      .section__intro
        h2 Disclaimer
          svg.decor: use(xlink:href="#decor")

      .row
        .col.md-10.offset-md-1
          p Although the information on this website has been compiled with care and we always try to keep this up to date, this information cannot legally be taken from this website. Jake is not liable for any direct or indirect damage that may arise from the use of the information contained herein. All information on this site is subject type-, price- and programming errors. Prices and conditions are subject to change. Euro rates listed are rounded and informative.
          p The information on the site is regularly updated and/or amended. We reserve the right to make any changes immediately and without prior notice. We are not responsible for the content of the websites linking to it.
          p All images on this website are copyrighted and may not be used by third parties without permission.
          p Although we make every effort to prevent abuse, we are not responsible for information and/or messages sent by users of the website though the internet.  Despite the fact we are extremely selective with respect to the sites references, it cannot vouch for the content or operation thereof, nor the quality of any products or services offered there on. Any liability for the content of websites which are not maintained by us is rejected.
          p We exclude all liability for any direct or indirect damages of any nature, arising out of or in any way related to the website.
