extends models/layout-default
block content
  section.se__card
    .container
      .section__intro
        h2 Shopping cart
          svg.decor: use(xlink:href="#decor")
      .row
        .col.md-6.offset-md-3.sm-8.offset-sm-2
          .se__card--wraper.empty
            .se__card--content
              p: strong Your cart is currently empty
              a.btn.default Return to shop