extends models/layout-flexed
block content
  section.se__404
    .container
      .section__intro
        h2 Error 404. The page can not be found
          svg.decor: use(xlink:href="#decor")
      a.btn.default Back to shopping
      p If you think the page is missing because of our fault, don’t hesitate to write to us
      p: a Arrrgrrr, I am confident! It must be here somewhere!
