doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body(style="background-color: #f5f5f5;margin: 0;padding: 0;font-family:'Segoe UI';font-size:16pt;color:#121920")
    table(width="100%",cellpadding="0",cellspacing="0",border="0")
      tr
        td 
        td(width="500", style="text-align:center;padding:60px 0 20px")
          a(href="", onmouseover="this.style.opacity='0.5'", onmouseout="this.style.opacity='1'")
            img(src="img/email/logo.png", alt="", style="border: none;")
        td 
      tr
        td 
        td(width="500", style="background-color: #ffffff;text-align:center;padding:40px 50px 30px;border-bottom:6px solid #36c1ba")
          h3(
            style="font-size: 24px;line-height:1;margin: 0 0 10px;color: #36c1ba"
          ) Thank you for your purchase!
          p(
            style="font-size: 16px;line-height:26px;margin: 0;color: #41474d"
          ) Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        td 
      tr
        td 
        td(width="600", style="background-color: #ffffff;text-left:center;padding:40px 0;")
          table(width="100%",cellpadding="0",cellspacing="0",border="0",
          style="font-size: 16px;line-height:26px;")
            tr
              td(valign="top", width="150", style="padding:5px 40px 5px;") Product:
              td(valign="top", style="padding:5px 40px 5px;color:#41474d;") 12 bottles
            tr
              td(valign="top", width="150", style="padding:5px 40px 5px;") Order number:
              td(valign="top", style="padding:5px 40px 5px;color:#41474d;") 00023423
            tr
              td(valign="top", width="150", style="padding:5px 40px 5px;") Payment method:
              td(valign="top", style="padding:5px 40px 5px;color:#41474d;") PayPal
            tr
              td(valign="top", width="150", style="padding:5px 40px 5px;") Total price:
              td(valign="top", style="padding:5px 40px 5px;color:#41474d;") € 0.00 (includes € 0.00 VAT)
            tr
              td(valign="top", width="150", style="padding:5px 40px 5px;") Recurring total:
              td(valign="top", style="padding:5px 40px 5px;color:#41474d;") € 0.00/month
                span(style="font-size: 13px;line-height:13px;display:block") (first renewal: Sep 25, 2017)
        td 
      tr
        td 
        td(width="500", style="text-align:center;padding:35px 0 30px")
          table(width="150",cellpadding="5",cellspacing="0",border="0",align="center")
            tr
              td: a(href="", onmouseover="this.style.opacity='0.5'", onmouseout="this.style.opacity='1'")
                img(src="img/email/facebook.png", alt="", style="border: none;")
              td: a(href="", onmouseover="this.style.opacity='0.5'", onmouseout="this.style.opacity='1'")
                img(src="img/email/twitter.png", alt="", style="border: none;")
              td: a(href="", onmouseover="this.style.opacity='0.5'", onmouseout="this.style.opacity='1'")
                img(src="img/email/instagram.png", alt="", style="border: none;")
          p(style="font-size: 14px;line-height:1px;margin: 10px 0;color: #878a8d") © 2017 Simpleat.me
        td 