// Media Query Ranges //
  $xs-screen: 520px !default;
  $sm-screen: 768px !default;
  $md-screen: 960px !default;
  $lg-screen: 1200px !default;
// Media Breakpoints //
  // Helper respond UP //
    @mixin smallUp {
      @media only screen and ( min-width: #{$xs-screen + 1} ) {
        @content;
      }
    }
    @mixin tabletUp {
      @media only screen and (min-width: #{$sm-screen + 1}) {
        @content;
      }
    }
    @mixin mediumUp {
      @media only screen and (min-width: #{$md-screen + 1}) {
        @content;
      }
    }
  // Helper respond DOWN //
    @mixin smallDown {
      @media only screen and ( max-width: #{$sm-screen} ) {
        @content;
      }
    }
    @mixin tabletDown {
      @media only screen and (max-width: #{$md-screen}) {
        @content;
      }
    }
    @mixin mediumDown {
      @media only screen and (max-width: #{$lg-screen}) {
        @content;
      }
    }
  // DEFAULTS //
    @mixin mobile {
      @media only screen and ( max-width: #{$xs-screen} ) {
        @content;
      }
    }
    @mixin small {
      @media only screen and ( min-width: #{$xs-screen + 1} ) and ( max-width: #{$sm-screen} ) {
        @content;
      }
    }
    @mixin tablet {
      @media only screen and ( min-width: #{$sm-screen + 1} ) and (max-width: #{$md-screen}) {
        @content;
      }
    }
    @mixin medium {
      @media only screen and ( min-width: #{$md-screen + 1} ) and (max-width: #{$lg-screen}) {
        @content;
      }
    }
    @mixin large {
      @media only screen and ( min-width: #{$lg-screen + 1} ) {
        @content;
      }
    }

  // Grid //
  $num-cols: 12 !default;
  $gutter: 30px !default;

// Extend Classes //
  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas_neue.woff2') format('woff2'), url('../fonts/bebas_neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .montserrat {font-family: 'Montserrat', sans-serif;}
  .bebas {font-family: 'Bebas Neue', sans-serif;}